{{ partial "head.html" . }}
    <body>
    {{ partial "header.html" . }}
    <div class="container">
        <article>
            <h1 class="title"> {{ .Params.Title }} </h1>
            {{ if isset .Params "thumbnail"}}
            <img src="{{ .Params.thumbnail }}" class="welcome-img"/>
            {{ end }}
            {{ .Content -}}
        </article>

        <aside> 
            {{ partial "authors.html" . }}
        </aside>
    </div>

    <footer> </footer>
    </body>
</html>

