{{ partial "head.html" . }}
    <body>
    {{ partial "header.html" . }}
    <div class="container">
        <article>
            <h1 class="title"> {{ .Params.Title }} </h1>
            <p> Written by 
                {{ if isset .Params "authors"}} 
                    {{ range .Params.Authors }}
                        {{ $memberPATH := printf "/members/%s" . | printf "%s"}} 
                        {{ with $.Site.GetPage $memberPATH }} 
                        <a href="{{ .Params.Sites.Twitter }}"> {{ .Params.FullName }}
                        </a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </p>

            {{ if isset .Params "thumbnail"}}
            <img src="{{ .Params.thumbnail }}" class="welcome-img"/>
            {{ end }}
            {{ .Content -}}
        </article>

        <aside> 
            {{ partial "authors.html" . }}
        </aside>
    </div>

    <footer> </footer>
    </body>
</html>

