
@font-face {
  font-family: neue;
  src: url(fonts/NeueHaasDisplayRoman.woff2);
}
@font-face {
  font-family: neue-l;
  src: url(fonts/NeueHaasDisplayMediu.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  font-family: "Clash Grotesk", sans-serif;
}

h1 {
  padding-left: 20px;
}

p,
li,
a {
  font-family: neue;
}

nav a {
  padding-right: 25px;
}
body {
  padding-top: 100px;
  position: relative;
  color: #212121;
  background-color: #fdf2e9;
}

.home-logo a, 
.home-logo a:visited {
  color: #f8efe0;
}

nav {
  text-align: center;
}

nav a:link, nav a:visited {
  padding-right: 50px;
  color: #f8efe0;
}

nav a:hover {
  color: rgba(241, 225, 197, 0.767);
}

nav a:link:last-child {
  margin-right: 0px;
}

.main-header {
  background-color: #212121;
  padding: 8px;
  text-align: left;

  text-transform: capitalize;
  color: #f8efe0;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a:link {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  color: #212121;
}

.hero {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 1300px;
  column-gap: 100px;
}

.hero-text-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  text-align: left;
  align-items: center;
}
.heading-primary {
  font-size: 50px;
}
.hero-description {
  font-size: 20px;
}

.hero-img-box {
  text-align: center;
}

.welcome-img {
  width: 600px;
  justify-content: center;
}
