{{ if isset .Params "authors" }} 
<center>
    {{ range .Params.Authors }} 
    <div class="author-bar">
        {{ $memberPATH := printf "/members/%s" . | printf "%s"}} 
        {{ with $.Site.GetPage $memberPATH }} 
        {{ $authorPage := printf "https://twitter.com/%s" .Params.Sites.Twitter
        }}
        <a href="{{ $authorPage }}"
            ><img
              class="author-bar-photo"
              src="/img/{{ .Params.Title }}.jpg"
              alt="{{ .Params.Title }}"
          /></a>

        <a href="{{ $authorPage }}"> {{ .Params.FullName }} </a>

          <p class="author-description">
            {{ .Params.description }}            
          </p>
          <div class="author-buttons">
            {{ range $k, $v := .Params.Sites }}
                <a href="{{ $v }}" class="fa fa-{{ $k }}"></a>
            {{ end }} 
          </div>
        {{ end }}
    </div>
    {{ end }}
</center>
{{ end }} 

</div>
