{{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
      <div class="hero">
          <h1 class="heading-primary">WELCOME TO THE DIVES RESEARCH</h1>

          <p class="hero-description">
            Dives Research consists of multi-disciplinary and enthusiastic
            people that share a background in mixtures of software development,
            research, investing, and trading.
          </p>

            <div class="hero-img-box">
          <img
            class="hero-welcome-img"
            src="img/thumb-1920-573305.jpg"
            alt="welcome-img"
          />
        </div>
      </div>

    <section>
      <div class="missions"></div>
    </section>
  </body>
</html>
