{{ partial "head.html" . }}
<body class="index-body">
  {{ partial "header.html" . }}
  <div class="gradient">
    <div class="hero">
      <div class="hero-container">
        <h1 class="heading-primary">
          Web3 <br> Tool Development <br />
          & Research
        </h1>

        <p class="hero-description">
          We develop open source tools and create educational content
          on blockchain technologies, software development, and finance.
        </p>
        <div class="flex hero-buttons">
          <button class="button-home" role="button"><a class="button-a" style="color: #212121;" href="#social">Contact Us</a></button>
          <button id="services" class="button-home" role="button"><a class="button-a" style="color: #212121;" href="#services">Learn More ⬇</a> </button>
        </div>
      </div>
    </div>
    <div  class="services">
      <div class="service">
        <span>
          <i class="fa-solid fa-handshake"></i>
        </span>
        <span class="service-title">Strategy Consulting</span>

        <span >Experienced advice for your crypto venture. Advice and guidance on
          your whitepaper and tokenomics, and insights on recent advancements
          in the Web3 space to help ensure that your project is well-positioned
          for success.</span>
      </div>
      <div class="service">
        <span>
          <i class="fa-solid fa-magnifying-glass-chart"></i>
        </span>
        <span class="service-title">Research</span>
        <span
          >Stay ahead of the crypto trends. We provide in-depth analysis on
          various topics related to decentralized finance, zero-knowledge
          cryptography, automated market makers, digital identity, and other
          relevant areas of the Web3 space.
        </span>
      </div>
      <div class="service">
        <span>
          <i class="fa-solid fa-book"></i>
        </span>
        <span class="service-title">Education</span>
        <span
          >Enhance your knowledge of Web3 technologies. We provide education on
          subjects related to Web3 to help you stay informed and up-to-date on
          this rapidly evolving field.
        </span>
      </div>
      <div class="service">
        <span>
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </span>
        <span class="service-title">Tool Development</span>
        <span
          >Get the best out of Web3 with the tools you desire. Customized
          development of decentralized tools, such as smart contracts,
          subgraphs, and other relevant technologies, tailored to your specific
          needs.
        </span>
      </div>
      <div class="service">
        <span>
          <i class="fa-solid fa-coins"></i>        </span>
        <span class="service-title">Token Creation</span>
        <span
          >
          Get your projects off the ground with our token creation services.
          We'll create your token on the blockchain you want and arrange
          airdrops to distribute to a wide audience.
        </span>
      </div>
      <div class="service">
        <span
          >
          <i class="fa-solid fa-image"></i>
        </span>
        <span class="service-title">NFT creation</span>
        <span
          >Explore the endless possibilities of NFTs. Assistance in launching an
           NFT collection, selling artwork as NFTs, and integrating NFTs into a
           business model.
        </span>
      </div>
    </div>
  </div>
  <div class="announcemenents-background">
    <div><h1 class="announcements-title">Did you try our latest open source apps?</h1></div>
    <div class="announcements-app">
     <div>
        <h1 class="app-title">Curve IL Calculator</h1>
        <p>
          A tool for calculating Impermanent Loss in Curve Finance’s StableSwap
          pools
        </p>
      </div>
      <a href="https://dives.fyi/apps/calculator/"><img class="announcements-app-img" src="/img/Curve.png" alt="" /></a>
    </div>
    <div class="announcements-app ethap">
      <a href="https://dives.fyi/apps/ethap/"><img class="announcements-app-img" src="/img/Ethap.png" alt="" /></a>
      <div>
         <h1 class="app-title">Ethap</h1>
         <p>
          An interactive data analysis tool that can be given to any Ethereum account and analyze the account’s transaction behaviour.
          </p>
        </div>
     </div>
    </div>

  <div class="announcements">
    <div class="announcements-left">
      <div class="social-top">
        <h2>What is next on Dives Research?</h2>
        <div class="social-flex">
          <p>♦️ New open source tools</p>
          <p>♦️ New research papers on our Blog</p>
        </div>
      </div>
    </div>
    <h2>Stay up to date with the latest announcements from Dives Research by following us on social media.</h2>
    <div id="social" class="social">
      <a href="https://twitter.com/DivesResearch">↗ Twitter</a>
      <a href="https://t.me/divesannouncement">↗ Telegram</a>
      <a href="https://discord.gg/S3QJmeyMac">↗ Discord</a>
    </div>
    <h2><a href="mailto:divesresearch@gmail.com">divesresearch@gmail.com</a></h2>
  </div>

</body>
</html>
