@font-face {
  font-family: neue;
  src: url(fonts/NeueHaasDisplayRoman.woff2);
}
@font-face {
  font-family: neue-l;
  src: url(fonts/NeueHaasDisplayMediu.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

html {
  font-size: 62.5%;
}

article h1, article h2, article h3, article h4 {
  font-family: "Clash Grotesk", sans-serif;
  margin-bottom: 1rem;
}

article h1 { font-size: 2.5rem; }
article h2 { font-size: 2rem; }
article h3 { font-size: 1.75rem; }
article h4 { font-size: 1.5rem; }

.title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}


p,
li,
a {
  font-family: neue;
  font-size: 1.6rem;
}

body {
  padding-top: 8rem;
  position: relative;
  color: #212121;
  background-color: rgb(241, 225, 197);
}

.home-logo a {
  color: rgb(248, 239, 224);
  font-size: 3.2rem;
}

.home-logo a:visited {
  color: #f8efe0;
}

.main-header {
  background-color: #212121;
  padding: 8px;
  text-align: left;
  text-transform: capitalize;
  color: #f8efe0;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  text-align: center;
}

nav a:link {
  padding-right: 5rem;
  color: #f8efe0;
  text-align: left;
}

nav a:visited {
  color: #f8efe0;
}
nav a:hover {
  color: rgba(241, 225, 197, 0.767);
}

nav a:link:last-child {
  margin-right: 0px;
}

.container {
  gap: 1rem;
  margin: auto;
  max-width: 120rem;
  column-gap: 2rem;
}

article {
  background-color: rgb(248, 239, 224);
  padding: 4rem;
  border: transparent solid 1px;
  border-radius: 10px;
  border: #9b94943d solid 1px;
}

.post-header {
  font-size: 3rem;
  font-weight: 4000;
  text-transform: initial;
  text-align: left;
  margin-bottom: 1rem;
  position: relative;
}

.author {
  position: relative;
}

.post-date {
  margin-bottom: 0;
}

.author-photo {
  max-width: 5rem;
  border-radius: 50%;
}

.welcome-img {
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
  border: transparent solid;
  border-radius: 1rem;
}

ul {
    margin-bottom: 2rem;
    padding-left: 2rem;
}

li {
  margin-bottom: 1rem;
}

li:last-child {
  margin-bottom: 0;
}

p {
  text-align: left;
  margin-bottom: 2rem;
}

a:link {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  color: #212121;
}

.author-box {
  align-items: center;
  margin: 0;
  margin-bottom: 1rem;
}

.author-name {
  margin: 0px;
}

.author-nd {
  margin-left: 1rem;
}

.author-description {
  margin-top: 1rem;
  text-align: center;
}

blockquote {
    padding-left: 5rem;
}
/* Sağdaki Author Bölmesi */

aside {
  box-sizing: border-box;
  background-color: rgb(248, 239, 224);
  border: transparent solid 1px;
  border-radius: 1rem;
  position: sticky;
  align-self: start;
  top: 8rem;
  gap: 2rem;
  background-color: rgb(241, 225, 197);
}

aside p {
  color: #7c7878;
  font-family: neue;
  margin-bottom: 5px;
}
aside a {
  color: #212121;
}

.author-bar {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  padding: 1rem;
  vertical-align: top;
  margin-top: 3rem; 
  justify-items: center;
  background-color: rgb(248, 239, 224);
  border-radius: 1rem;
  border: #9b94943d solid 1px;
}

.author-bar-photo {
  width: 8rem;
  border-radius: 50%;
  display: block;
  float: right;
}

.author-buttons {
  display: flex;
  gap: 1rem;
}

/* İkonlar */

.fa {
  font-size: 3rem;
  text-align: left;
  text-decoration: none;
  border-radius: 50%;
}

.fa-github:before {
  font-size: 2.5rem;
}

.fa-twitter:before {
  font-size: 2.5rem;
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

img[src*='#center']{
  display: block;
  margin: 1.0rem auto;
  max-width: 100%;
  height: auto;
}

img[src*=resize-half]{
    width: 50%;
    height: auto;
}
