* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

p,
li,
a,
span,
time {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
}

h1 {
  font-size: 3.6rem;
}

p,
li,
a,
h1,
h2,
h3,
h4,
span {
  font-family: "Open Sans", sans-serif;
}

.index-body {
  position: relative;
  color: #212121;
  background-color: #fafafa;
  margin: 0 auto;
}

body {
  background-color: #18191a;
  color: #e4e6eb;
}

.home-logo a,
.home-logo a:visited {
  font-size: 3rem;
  color: #18191a;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafaef;
  padding: 0.7rem 3rem;
  text-align: left;
  text-transform: capitalize;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

nav {
  text-align: center;
  display: flex;
  gap: 3rem;
}
nav > a {
  border-radius: 15px;
  padding: 10px;
}
nav a:link {
  color: #212121;
  text-align: left;
}

nav a:visited {
  color: #212121;
}
nav a:hover {
  background-color: #21212119;
}

nav a:link:last-child {
  margin-right: 2rem;
}

.container {
  gap: 1rem;
  margin: 0 auto;
  max-width: 90rem;
  column-gap: 2rem;
}

article {
  background-color: #242526;
  margin-top: 3rem;
  padding: 3rem;
  border: transparent solid 0.1rem;
  border-radius: 1rem;
  border: #9b94943d solid 0.1rem;
}

article h1,
article h2,
article h3,
article h4 {
  font-family: "Clash Grotesk", sans-serif;
  margin-bottom: 1rem;
}

.post-date {
  margin-bottom: 0;
}

p {
  text-align: left;
  margin-bottom: 1rem;
}

a:link,
a:before,
a:visited {
  color: rgb(105, 114, 212);
  text-decoration: none;
}

blockquote {
  padding-left: 2rem;
}

.highlight pre {
  padding: 1rem;
  margin: 1rem;
  overflow-x: auto;
}

.author-bar {
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  min-width: 24rem;
  vertical-align: top;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #212121;
  border-radius: 1rem;
  border: #9b94943d solid 0.1rem;
}
.editor-bar {
  margin-left: 1rem;
}

.author-bar > h1 {
  margin-bottom: 1rem;
}

.author-bar:last-child {
  margin-bottom: 1rem;
}

.author-description {
  text-align: center;
}

.author-bar-photo {
  width: 8rem;
  border-radius: 5rem;
  display: block;
  margin-bottom: 1rem;
}

.author-buttons {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.fa {
  text-decoration: none;
  border-radius: 50%;
  margin-right: 1rem;
}

.fa:before,
.fa:before {
  font-size: 2rem;
}

.fa-brands {
  font-size: 3rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

img[src*="#center"] {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
}

.gradient {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 1)
    ),
    url("/img/backgrounds/20.jpg");
  background-size: cover;
  padding-bottom: 10rem;
}

.index-container {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100%;
  text-align: center;
  align-items: center;
  color: #212121;
  padding: 10rem 0;
}

.hero-container {
  width: 60%;
  margin-top: 3.7rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button-home {
  background-color: #fff;
  border: 2px solid #212121;
  border-radius: 30px;
  box-shadow: #212121 4px 4px 0 0;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0 1.8rem;
  line-height: 5.2rem;
  text-align: center;
  width: 16rem;
}

.button-home:hover {
  background-color: #fff;
}

.button-home:active {
  box-shadow: #212121 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.heading-primary {
  font-size: 7.6rem;
  font-weight: 800;
  letter-spacing: -3px;
  color: black;
  line-height: 1.1;
}

.hero-description {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.4px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 0 3rem;
}

.service {
  background-color: #fff;
  display: block;
  width: 30%;
  font-size: 2rem;
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 8px;
  border: 1px solid #212121;
}

.service > span {
  display: block;
  margin-bottom: 1rem;
}

.service-title {
  font-weight: 600;
}

.service > span > svg {
  width: 10rem;
}

.announcements {
  justify-content: center;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 10rem;
  gap: 3rem;
  padding-bottom: 4rem;
}

.social-top {
  margin-top: 6rem;
  border-bottom: #212121 1px solid;
  padding-bottom: 5rem;
  margin-bottom: 7rem;
}

.announcemenents-background {
  background-color: #f8f6ff;
  padding-bottom: 8rem;
}

.announcements-app {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 10rem;
  gap: 5rem;
  width: 80%;
}
.announcements-app-img {
  width: 120rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.app-title {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 3rem;
}
.social {
  padding: 4rem 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.social-flex {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  article {
    padding: 1.5rem;
  }
  p {
    font-size: 1.7rem;
  }

  .editor-bar {
    margin-left: 0rem;
  }

  .container {
    max-width: 100%;
    margin-top: 5rem;
  }
}

.service:hover,
.service:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.service:hover {
  transform: translateY(-1px);
}
