@font-face {
  font-family: neue;
  src: url(fonts/NeueHaasDisplayRoman.woff2);
}
@font-face {
  font-family: neue-l;
  src: url(fonts/NeueHaasDisplayMediu.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}


.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p,
li,
a {
  font-family: neue;
}

body {
  padding-top: 6rem;
  position: relative;
  color: #212121;
  background-color: rgb(241, 225, 197);
}

.home-logo a,
.home-logo a:visited  {
  color: rgb(248, 239, 224);
}

.main-header {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #212121;
  padding: 8px;
  text-align: left;
  text-transform: capitalize;
  color: #f8efe0;
  width: 100%;
}

nav {
  text-align: center;
}

nav a:link {
  padding-right: 2.5rem;
  color: #f8efe0;
  text-align: left;
}

nav a:visited {
  color: #f8efe0;
}
nav a:hover {
  color: rgba(241, 225, 197, 0.767);
}

nav a:link:last-child {
  margin-right: 0px;
}

.container {
  gap: 1rem;
  margin: 0 auto;
  max-width: 60rem;
  column-gap: 2rem;
}

article {
  background-color: rgb(248, 239, 224);
  padding: 4rem;
  border: transparent solid 1px;
  border-radius: 1rem;
  border: #9b94943d solid 1px;
}

article h1, article h2, article h3, article h4 {
  font-family: "Clash Grotesk", sans-serif;
  margin-bottom: 1rem;
}
.post-header {
  font-weight: 4000;
  text-transform: initial;
  text-align: left;
  margin-bottom: 1rem;
  position: relative;
}


.post-date {
  margin-bottom: 0;
}


.welcome-img {
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
  border: transparent solid;
  border-radius: 1rem;
}

ul {
    margin-bottom: 2rem;
    padding-left: 2rem;
}

li {
  margin-bottom: 1rem;
}

li:last-child {
  margin-bottom: 0;
}

p {
  text-align: left;
  margin-bottom: 1rem;
}

a:link {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  color: #212121;
}

blockquote {
    padding-left: 2rem;
}


.author-bar {
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  min-width: 24rem;
  vertical-align: top;
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgb(248, 239, 224);
  border-radius: 1rem;
  border: #9b94943d solid 1px;
}


.author-description {
  text-align: center;
}

.author-bar-photo {
  width: 6rem;
  border-radius: 3rem;
  display: block;
  margin-bottom: 1rem;
}

.author-buttons {
  display: block;
  text-align: center;
  margin: 0 auto;
}

/* İkonlar */

.fa {
  text-decoration: none;
  border-radius: 50%;
  margin-right: 1rem;
}

.fa-github:before,
.fa-twitter:before  {
  font-size: 2rem;
}


img {
    max-width: 100%;
    border-radius: 1rem;
}

img[src*='#center']{
  display: block;
  margin: 1.0rem auto;
  max-width: 100%;
  height: auto;
}


.hero {
  display: flex;
  height: 70vh;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 1rem;
  margin: auto;
  max-width: 65rem;
  column-gap: 5rem;
  text-align: center;
  align-items: center;
}


.heading-primary {
  font-size: 2.5rem;
}

.hero-description {
    margin-top: 2rem;
    font-size:1.5rem;
    text-align: center;
}

.hero-img-box {
    text-align: center;
    margin: auto 0;

}
.hero-welcome-img {
    width: 75%;
    min-width: 280px;
}


