{{ partial "header.html" . -}}
{{ partial "nav.html" . }}
<header><h1 id="tag_{{ .Title }}">{{ .Title | title }}</h1></header>
<article>
{{ .Content -}}
<ul>
{{- range.Pages }}
<a href="{{ .RelPermalink }}">{{ .Params.Fullname }} ({{ .Title }})</a> <br>
 <div style="padding-left: 50px;">    
    {{ .Content }}
        {{ range $key, $value := (.Params.sites) }}
                {{ $key }} : {{ $value }} <br>
        {{ end }} 
 </div> <br>
{{ end -}}
</ul>
</article>
{{- partial "footer.html" . }}
